.detail {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
   .detailImg{
    width: 400px;
    height: 400px;
    img{
        width: 100%;
        height: 1005;
    }

   }
  }